body {
  color: unset;
}

#root,
.pf-builder-page {
  height: 100%;
}

.pf-builder-drawer {
  height: calc(100vh - 76px);
}

.preview-mode .pf-builder-sidebar {
  display: none;
}
.pf-builder-sidebar .pf-c-tabs__scroll-button {
  display: none;
}
.pf-builder-sidebar .pf-c-data-list__cell {
  height: 29px;
}
.pf-builder-sidebar .cell-text {
  max-width: 180px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline-block;
}
.pf-builder-sidebar .cell-info {
  float: right;
}
.pf-builder-sidebar .cell-expand .pf-c-button {
  padding-left: 7px;
}

.pf-m-highlight {
  border: 1px solid yellow;
}

.pf-m-dropzone {
  background-color: deepskyblue !important;
}

.pf-m-droppable-bg {
  background-color: lime !important;
}
/* .pf-m-droppable {
  pointer-events: all !important;
} */
/* Disable pointer events for children of the droppable target */
/* .pf-m-droppable * {
  pointer-events: none;
} */
.pf-m-droppable.pf-m-dropzone {
  background-color: deepskyblue !important;
}
.pf-m-droppable.pf-m-dropzone.pf-m-droppable-bg {
  background-color: deepskyblue !important;
}

.layout-mode .uib-preview,
.layout-mode .uib-preview .live-region {
  min-height: calc(100vh - 76px);
}
.layout-mode .uib-preview .live-region {
  padding: 16px;
}
.preview-mode .uib-preview {
  position: absolute;
  top: 76px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  border: 3px solid black;
}

/* .layout-mode .uib-preview .live-region {
  pointer-events: none;
} */
.layout-mode
  .uib-preview
  .live-region
  [class^="pf-c-"]:not([class*="__"]):not([class^="pf-c-background-image"]),
.layout-mode
  .uib-preview
  .live-region
  [class^="pf-l-"]:not([class*="__"]):not([class^="pf-c-background-image"]) {
  padding: 0.5rem;
  border-width: 1px;
  border-style: solid;
  min-height: 20px;
}
.layout-mode
  .uib-preview
  .live-region
  [class^="pf-c-"][class*="__"]:not([class^="pf-c-background-image"]),
.layout-mode
  .uib-preview
  .live-region
  [class^="pf-l-"][class*="__"]:not([class^="pf-c-background-image"]) {
  padding: 0.5rem;
  border-width: 1px;
  border-style: dashed;
  min-height: 20px;
}

.layout-mode .uib-preview.vscode {
  margin-right: 0;
}

.pf-c-data-list__item.pf-m-hide {
  /* display: none; */
  color: lightgray;
}
.pf-c-data-list__item.pf-m-grab {
  cursor: grab;
}
.pf-c-data-list__item.pf-m-child {
  margin-left: 12px;
}

/* TODO: Override should not be needed to see the label */
.pf-builder-header .pf-c-switch__label {
  color: white !important;
}

.props-inspector {
  /* pointer-events: all !important; */
  background-color: lightgray;
}
.props-inspector .pf-c-button {
  padding: 6px 8px;
}

.wrapped-button {
  display: flex;
}

.props-editor {
  max-width: 518px;
  overflow: auto;
  height: calc(50vh - 76px);
  /* border: var(--pf-c-code-editor__main--BorderWidth) solid; */
  /* border-color: var(--pf-c-code-editor__main--BorderColor); */
  border: 1px solid;
  border-left: 0;
  border-color: #d2d2d2;
  margin-top: -1px;
}
/* .props-editor .props-title {
  pointer-events: none;
} */
.props-editor .pf-c-table {
  margin: 0 !important;
}

.pf-builder-editor .pf-c-tabs__link {
  padding-top: 0;
}
.pf-builder-editor .pf-c-drawer__panel-main {
  overflow: hidden;
}
.pf-builder-editor.vscode {
  display: none;
}

.pf-builder-sidebar .pf-c-page__sidebar-body .pf-c-tabs {
  position: absolute;
  top: 0;
}
.pf-builder-sidebar .pf-c-page__sidebar-body .pf-c-tabs .pf-c-tabs__link {
  padding: 8px 13px;
}
.pf-builder-sidebar .pf-c-page__sidebar-body .pf-c-tab-content {
  position: absolute;
  top: 40px;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
}
.pf-builder-sidebar .pf-c-expandable-section {
  float: right;
}
.pf-builder-sidebar .pf-c-expandable-section .pf-c-expandable-section__toggle {
  padding: 0;
}

.pf-builder-sidebar .pf-c-data-list__expandable-content-body {
  padding: 0;
}
.pf-builder-sidebar .pf-c-data-list__item__child {
  list-style-type: none;
}
.pf-builder-sidebar .pf-c-data-list__item__child .list-child {
  width: 12px;
  border-left: 1px solid;
  border-bottom: 1px solid;
  margin-left: 6px;
  margin-top: -2px;
  margin-bottom: 8px;
  margin-right: 12px;
}
.pf-builder-sidebar .pf-c-data-list__item-control {
  margin-right: 0;
}

/* Backdrop (AboutModal, Modal) */
/* body.layout-mode.pf-c-backdrop__open, */
.layout-mode .uib-preview.pf-c-backdrop__open {
  overflow: unset;
}
body.preview-mode > div > .pf-c-backdrop,
.preview-mode .uib-preview .pf-c-backdrop {
  top: 76px;
}
/* body.layout-mode > div > .pf-c-backdrop, */
.layout-mode .uib-preview .pf-c-backdrop {
  background-color: unset;
  position: relative;
}

/* BackgroundImage */
.layout-mode .uib-preview .pf-c-background-image::before {
  top: 110px;
  left: 344px;
  right: 576px;
  width: unset;
  height: unset;
  bottom: 34px;
}
.preview-mode .uib-preview .pf-c-background-image::before {
  top: 76px;
}

/* Modal */

.logo-text {
  text-decoration: none;
  color: white;
  font-size: larger;
}

.preview-mode .pf-builder-section {
  padding: 0;
  height: calc(100vh - 100px);
}

#component-name-tt {
  z-index: 999;
  position: absolute;
  bottom: 10px;
}
#component-name-tt .pf-c-tooltip__content {
  padding: 4px 8px;
}

.pf-builder-editor .pf-c-code-editor__main {
  border-color: unset;
}

.dark-theme .pf-builder-sidebar .pf-c-data-list {
  --pf-c-data-list__item--BackgroundColor: var(--pf-global--BackgroundColor--dark-300);
  --pf-c-data-list__item-draggable-button-icon--Color: #fff;
  --pf-c-data-list__item-draggable-button--hover__draggable-icon--Color: #fff;
  --pf-c-data-list__item-draggable-button--focus__draggable-icon--Color: #fff;
  --pf-c-data-list--BorderTopColor: var(--pf-global--BackgroundColor--dark-200);
  --pf-c-data-list__item--BorderBottomColor: var(--pf-global--BackgroundColor--dark-200);
  --pf-c-data-list__item--m-selectable--hover--item--BorderTopColor: var(--pf-global--BackgroundColor--dark-200);
  --pf-c-data-list__expandable-content--BorderTopColor: var(--pf-global--BackgroundColor--dark-200);
  color: #fff;
}
.dark-theme .pf-builder-sidebar .pf-c-data-list__item.pf-m-hide {
  color: var(--pf-global--BackgroundColor--dark-200);
}
.dark-theme .pf-builder-sidebar .pf-c-button {
  --pf-c-button--m-plain--Color: #fff;
  --pf-c-button--m-primary--hover--BackgroundColor: #fff;
  --pf-c-button--m-primary--focus--BackgroundColor: #fff;
}
.dark-theme .pf-builder-sidebar .pf-c-tabs {
  --pf-c-tabs__link--BackgroundColor: var(--pf-global--BackgroundColor--dark-300);
  --pf-c-tabs__link--Color: #fff;
}
.dark-theme .pf-builder-sidebar .pf-c-tabs.pf-m-box .pf-c-tabs__item.pf-m-current {
  --pf-c-tabs__link--BackgroundColor: #4f5255 /*var(--pf-c-nav__link--m-current--BackgroundColor)*/;
  --pf-c-tabs__link--Color: #fff;
}

.pf-builder-overflow .pf-c-dropdown__menu {
  background: var(--pf-c-page__header--BackgroundColor);
}
.pf-builder-overflow .pf-c-dropdown__menu-item:hover, 
.pf-builder-overflow .pf-c-dropdown__menu-item:focus {
  background: var(--pf-global--BackgroundColor--dark-200);
}